.weatherInfo {
  height: 200px;
  width: 50%;
  min-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
  border-radius: 14px;
}

.loader {
  margin-top: 20%;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
}

.location {
  margin-left: 4px;
  font-weight: bold;
}

.importantInfo {
  display: flex;
  align-items: center;
}

.temperature {
  padding-top: 16px;
  font-size: 42px;
}

.description {
  font-size: 22px;
  padding-top: 20px;
}

.icon {
  width: 90px;
}
