{
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "arrow-parens": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/prefer-default-export": "off",
    "max-len": "warn"
  }
}
