{
  "extends": ["airbnb-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "arrow-parens": "off",
    "import/prefer-default-export": "off",
    "max-len": "warn",
    "object-curly-newline": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/prop-types": "off",
    "@typescript-eslint/no-unused-expressions": "off"
  }
}
