.content {
  margin: 5% auto 0 auto;
  max-width: 60%;

  @media screen and (max-width: 1440px) {
    max-width: 80%;
  }

  @media screen and (max-width: 1280px) {
    margin-top: 35px;
  }

  @media screen and (max-width: 414px) {
    max-width: 100%;
  }

  .firstLine {
    display: flex;

    .mapContainer {
      margin-left: 10px;
    }
  }
}

.loader, .isNotFound {
  text-align: center;
  margin-top: 20%;
}

.isNotFound {
  font-size: 24px;
}