.content {
  margin: 10% auto;
  max-width: 60%;

  .firstLine {
    display: flex;

    .mapContainer {
      margin-left: 10px;
    }
  }
}

.loader, .isNotFound {
  text-align: center;
  margin-top: 20%;
}

.isNotFound {
  font-size: 24px;
}