.header {
  background-color: #fff;
}

.navbar {
  max-width: 60%;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;

  .logo {
    padding-top: 12px;

    .cloudIcon {
      width: 40px;
      padding-bottom: 4px;
    }

    .name {
      margin-left: 10px;
    }
  }

  .formContainer {
    .input {
      height: 40px;
      width: 500px;
      padding-left: 8px;
      border: 1px solid rgb(172, 172, 172);
      border-radius: 4px;
      outline-color: rgb(79, 76, 238);
      outline-width: 1px;
    }

    .searchIcon {
      position: absolute;
      width: 18px;
      right: 10px;
      top: 28px;
    }

    .addresses {
      padding: 10px 0 0 0;
      width: 500px;
      position: absolute;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      list-style: none;

      .address {
        .button {
          display: flex;
          align-items: center;
          text-align: left;
          padding: 8px;
          font-size: 14px;
          width: 100%;
  
          background-color: #fff;
          border: none;

          &:hover {
            background-color: rgb(207, 207, 224);
          }

          &:focus {
            background-color: rgb(207, 207, 224);
            outline: none;
          }
        }
      }
    }
  }
}
